{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="../../media/framer.svg">
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
</head>

<body>

    <section id="container">
        <nav id="navbar">
            <div id="row">
                <div class="start">
                    <a href="{% url 'index' %}" id="logo">
                        <svg viewBox="0 0 256 384" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                            <g>
                                <path
                                    d="M0,0 L256,0 L256,128 L128,128 L0,0 Z M0,128 L128,128 L256,256 L128,256 L128,384 L0,256 L0,128 Z"
                                    fill="#000000"></path>
                            </g>
                        </svg>
                        <h1>ilms</h1>
                    </a>
                </div>
                <div class="center">
                    <div class="search-item">
                        <form action="{% url 'search' %}" method="GET" class="ins">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> -->
                            <input class="search" name="search" type="text" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="finish">
                    <div class="profile">
                        {% if request.user.is_authenticated %}

                        <a href="{% url 'profile' %}">
                            {% if user.profile.picture.url != null %}
                            <img class="pp" src="{{user.profile.picture.url}}" alt="PP">
                            {% else %}
                            <img class="pp" src="../../media/BlueHead.png" alt="PP">
                            {% endif %}
                        </a>
                        {% else %}
                        <a href="{% url 'signin' %}" class="btn">
                            Sign in
                        </a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <main id="main">
            {% block content %}

            {% endblock %}
        </main>
    </section>

    <script src="{% static 'script.js' %}"></script>
    <script type="text/javascript">
        function confirm_logout() {
            return confirm('Are You Sure You Want to Sign out from Your Account?');
        }
    </script>
</body>

</html>