{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="https://cdn.svgporn.com/logos/framer.svg">
</head>

<body>

    <section id="container">
        <nav id="navbar">
            <div id="row">
                <div class="start">
                    <a href="{% url 'index' %}" id="logo">
                        <img src="https://cdn.svgporn.com/logos/framer.svg" alt="">
                        <h1>ilms</h1>
                    </a>
                </div>
                <div class="center">
                    <div class="search-item">
                        <form action="{% url 'search' %}" method="GET" class="ins">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg> -->
                            <input class="search" name="search" type="text" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="finish">
                    <div class="profile">
                        {% if user.is_authenticated %}

                        <a href="{% url 'profile_detail_url' user.username %}">
                            {% if user.profile.picture.url != null %}
                            <img class="pp" src="{{user.profile.picture.url}}" alt="">
                            {% else %}
                            <img class="pp"
                                src="http://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s320/BlueHead.jpg"
                                alt="">
                            {% endif %}
                        </a>
                        {% else %}
                        <a href="{% url 'signin' %}" class="btn">
                            Sign in
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <main id="main">
            {% block content %}

            {% endblock %}
        </main>
    </section>

    <script src="{% static 'script.js' %}"></script>
    <script type="text/javascript">
        function confirm_logout() {
            return confirm('Are You Sure You Want to Sign out from Your Account?');
        }
    </script>
</body>

</html>