{% extends 'base.html' %}

{% block title %}
{{actor.name}}
{% endblock %}

{% block content %}
<div class="person-detail-container">
    <div id="flex">
        <div class="main-info">
            <div class="pr">
                <div id="flex">
                    <img src="{{actor.image.url}}" alt="" class="person-photo">
                    <div class="person-info">
                        <h1 class="person-detail-name">{{actor.name}}</h1>
                        <p class="person-type">{{actor.type}}</p>
                        <p class="person-desc">{{actor.description}}</p>
                    </div>
                </div>
                <div class="hr"></div>
                <div id="flex">
                    <span class="cast-text">Movies</span>
                </div>
                <div id="person-in-movies-column">
                    {% for movie in actor.movie_set.all %}
                    <div class="mov-detail" style="{% if not forloop.first %} margin-left: 10px; {% endif %}">
                        <a href="{% url 'movie_detail_url' movie.slug %}">
                            <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
                        </a>
                        <div class="mov-info">
                            <h1>{{movie.title}}</h1>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="side-info" style="border: 1px solid #dadce0; border-radius: 15px; overflow: hidden;">
            <div class="poll">
                {% for poll in actor.poll_set.all %}
                <div class="question">
                    <div class="va">
                        <p class="quest">
                            {{poll.question}}
                        </p>
                    </div>
                </div>
                <div class="vote">
                    <form method="POST" id="flex" style="width: 100%;" action="{% url 'firstChoice' actor.slug %}">
                        {% csrf_token %}
                        <!-- <input class="vote-radio" type="radio" id="firstchoice">  -->
                        <button class="vote-btn" id="button" onclick="firstchoice_check()">
                            <div class="vote-text">
                                {{poll.firstchoice_title}}
                            </div>
                            <div class="vote-text">
                                {{actor.firstchoice_set.count}}
                            </div>
                        </button>
                    </form>
                </div>
                <div class="vote">
                    <form method="POST" id="flex" style="width: 100%;" action="{% url 'secondChoice' actor.slug %}">
                        {% csrf_token %}
                        <!-- <input class="vote-radio" type="radio" id="secondchoice">  -->
                        <button class="vote-btn" id="button" onclick="secondchoice_check()">
                            <div class="vote-text">
                                {{poll.secondchoice_title}}
                            </div>
                            <div class="vote-text">
                                {{actor.secondchoice_set.count}}
                            </div>
                        </button>
                    </form>
                </div>
                <span class="results">{{actor.firstchoice_set.count}}-{{actor.secondchoice_set.count}} votes</span>
                {% endfor %}
            </div>
            <div class="hr"></div>
            <div class="more-interest">
                <div id="flex">
                    <span class="cast-text" style="font-size: 18px;">More Actors</span>
                </div>
                <div class="more-cast-column">
                    {% for actor in cast %}
                    <a href="{% url 'actor_detail_url' actor.slug %}">
                        <div class="more-actor" style="{% if not forloop.first %} margin-left: 6px; {% endif %}">
                            <div class="more-actor-picture">
                                <img src="{{actor.image.url}}" alt="{{actor.name}}">
                            </div>
                            <div class="more-actor-n_r">
                                <div class="more-actor-name">{{actor.name}}</div>
                                <div class="more-actor-role">{{role.role}}</div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="hr"></div>
            <div id="flex">
                <span class="cast-text" style="font-size: 18px;">More Movies</span>
            </div>
            <div class="more-movies">
                {% for movie in movies %}
                <div class="more-mov-detail" style="{% if not forloop.first %} margin-left: 6px; {% endif %}">
                    <a href="{% url 'movie_detail_url' movie.slug %}">
                        <img class="more-poster" src="{{movie.poster.url}}" alt="POSTER">
                    </a>
                    <div class="more-mov-info">
                        <h1>{{movie.title}}</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $("#button").click(function () {
        $("#button").addClass('button-clicked');
    });
</script>

{% endblock %}