{% extends 'base.html' %}

{% block title %}
{{director.name}}
{% endblock %}

{% block content %}
<div class="person-detail-container">
    <div id="flex">
        <div class="main-info">
            <div class="pr">
                <div id="flex">
                    <img src="{{director.image.url}}" alt="" class="person-photo">
                    <div class="person-info">
                        <h1 class="person-detail-name">{{director.name}}</h1>
                        <p class="person-type">{{director.type}}</p>
                        <p class="person-desc">{{director.description}}</p>
                    </div>
                </div>
                <div class="hr"></div>
                <div id="flex">
                    <span class="cast-text">Movies</span>
                </div>
                <div id="person-in-movies-column">
                    {% for movie in director.movie_set.all %}
                    <div class="mov-detail" style="{% if not forloop.first %} margin-left: 10px; {% endif %}">
                        <a href="{% url 'movie_detail_url' movie.slug %}">
                            <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
                        </a>
                        <div class="mov-info">
                            <h1>{{movie.title}}</h1>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="side-info" style="border: 1px solid #dadce0; border-radius: 15px; overflow: hidden; padding-bottom: 20px;">
            <div class="poll">
                {% for poll in director.poll_set.all %}
                <div class="question">
                    <div class="va">
                        <p class="quest">
                            {{poll.question}}
                        </p>
                    </div>
                </div>
                <div class="vote">
                    <form method="POST" id="flex" style="width: 100%;"
                        action="{% url 'DirectorFirstChoice' director.slug %}">
                        {% csrf_token %}
                        {% if request.user.firstchoice_set.exists %}
                        <input class="vote-radio" type="radio" id="firstchoice" checked="checked">
                        {% else %}
                        <input class="vote-radio" type="radio" id="firstchoice">
                        {% endif %}
                        <button class="vote-btn"
                            style="{% if request.user.firstchoice_set.exists %} background: #ebebeb; {% endif %}"
                            id="button" onclick="firstchoice_check()">
                            <div class="vote-text">
                                {{poll.firstchoice_title}}
                            </div>
                            <div class="vote-text">
                                {{director.firstchoice_set.count}}
                            </div>
                        </button>
                    </form>
                </div>
                <div class="vote">
                    <form method="POST" id="flex" style="width: 100%;"
                        action="{% url 'DirectorSecondChoice' director.slug %}">
                        {% csrf_token %}
                        {% if request.user.secondchoice_set.exists %}
                        <input class="vote-radio" type="radio" id="secondchoice" checked="checked">
                        {% else %}
                        <input class="vote-radio" type="radio" id="secondchoice">
                        {% endif %}
                        <button class="vote-btn"
                            style="{% if request.user.secondchoice_set.exists %} background: #ebebeb; {% endif %}"
                            id="button" onclick="firstchoice_check()">
                            <div class="vote-text">
                                {{poll.secondchoice_title}}
                            </div>
                            <div class="vote-text">
                                {{director.secondchoice_set.count}}
                            </div>
                        </button>
                    </form>
                </div>
                <span class="results">{{director.firstchoice_set.count}}/{{director.secondchoice_set.count}}
                    votes</span>
                {% endfor %}
            </div>
            <div class="hr"></div>
            <div class="more-interest">
                <div id="flex">
                    <span class="cast-text" style="font-size: 18px;">More Directors</span>
                </div>
                <div class="more-cast-column">
                    {% for director in directors %}
                    <a href="{% url 'director_detail_url' director.slug %}">
                        <div class="more-actor" style="{% if not forloop.first %} margin-left: 6px; {% endif %}">
                            <div class="more-actor-picture">
                                <img src="{{director.image.url}}" alt="{{director.name}}">
                            </div>
                            <div class="more-actor-n_r">
                                <div class="more-actor-name">{{director.name}}</div>
                                <div class="more-actor-role">{{role.role}}</div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}