{% extends 'base.html' %}

{% block title %}
{{genre.title}}
{% endblock %}

{% block content %}

<div class="genre">
    <h1 class="g-name">Genres</h1>
</div>
<div id="genre-column">
    {% for genre in genres %}
    <a href=" {% url 'genre_detail_url' genre.slug %}">
        <div class="genre-item" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
            <img src="{{genre.image.url}}" alt="">
            <div class="overlay">
                <div class="bottom-left">{{genre.title}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div class="genre">
    <h1 class="g-name">{{genre.title}}</h1>
</div>
<div id="movie">
    {% for movie in genre.movie_set.all %}
    <div class="mov-detail" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
        <a href="{% url 'movie_detail_url' movie.slug %}">
            <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
        </a>
        <div class="mov-info">
            <h1>{{movie.title|safe|slice:'0:63'}}</h1>
        </div>
    </div>
    {% endfor %}
    <div class="" style="margin-right: 12px;"></div>
</div>

{% endblock %}