{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="genre">
    <h1 class="g-name">Genres</h1>
</div>

<div id="genre-column">
    {% for genre in genres %}
    <a href=" {% url 'genre_detail_url' genre.slug %}">
        <div class="genre-item" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
            <img src="{{genre.image.url}}" alt="{{movie.genre.name}}">
            <div class="overlay"></div>
            <div class="bottom-left">{{genre.title}}</div>
        </div>
    </a>
    {% endfor %}
</div>


<div class="genre">
    <h1 class="g-name">New Movies</h1>
</div>

<div id="movie">
    {% for movie in movies %}
    <div class="mov-detail" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
        <a href="{% url 'movie_detail_url' movie.slug %}">
            <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
        </a>
        <div class="mov-info">
            <h1>{{movie.title}}</h1>
        </div>
    </div>
    {% endfor %}
</div>

<div class="genre">
    <h1 class="g-name">Popular Movies</h1>
</div>

<div id="movie">
    {% for popular in populars %}
    <div class="mov-detail" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
        <a href="{% url 'movie_detail_url' popular.slug %}">
            <img class="poster" src="{{popular.poster.url}}" alt="POSTER">
        </a>
        <div class="mov-info">
            <h1>{{popular.title}}</h1>
        </div>
    </div>
    {% endfor %}
</div>

{% for genre in genres %}

<div class="genre">
    <h1 class="g-name">{{genre.title}}</h1>
</div>
<div id="movie">
    {% for movie in genre.movie_set.all %}

    <div class="mov-detail" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
        <a href="{% url 'movie_detail_url' movie.slug %}">
            <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
        </a>
        <div class="mov-info">
            <h1>{{movie.title}}</h1>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
<!--  -->
{% endblock %}