{% extends "base.html" %}
{% load humanize %}

{% block title %}
{{movie.title}}
{% endblock %}

{% block content %}

<div class="genre">
    <h1 class="g-name">Genres</h1>
</div>
<div id="genre-column">
    {% for genre in genres %}
    <a href=" {% url 'genre_detail_url' genre.slug %}">
        <div class="genre-item" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
            <img src="{{genre.image.url}}" alt="">
            <div class="overlay">
                <div class="bottom-left">{{genre.title}}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div id="flex">
    <div class="film">
        <div id="flex">
            <img class="film-poster" src="{{movie.poster.url}}" alt="POSTER">
            <div class="film-info">
                <h1>{{movie.title}}</h1>
                <div class="p">
                    <p>{{movie.date|date:"Y"}}</p>
                    <p style="margin: 0 3.5px;">‧</p>
                    <p>
                        {% for genre in movie.genre.all %}
                    <p>{{genre}}</p>
                    <p style="margin: 0;">{%if not forloop.last%}/{%endif%}</p>
                    {% endfor %}
                    </p>
                    <p style="margin: 0 3.5px;">‧</p>
                    <p>{{movie.runtime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hr"></div>
<div id="flex">
    <div class="main-info">
        <div class="pr">
            <div id="flex">
                <span class="cast-text">Cast</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right right-ar"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
            <div class="cast-column">
                {% for actor in movie.cast.all %}
                <a href="{% url 'actor_detail_url' actor.slug %}">
                    <div class="actor" style="{% if not forloop.first %} margin-left: 8px; {% endif %}">
                        <div class="actor-picture">
                            <img src="{{actor.image.url}}" alt="{{actor.name}}">
                        </div>
                        <div class="actor-name">{{actor.name}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="film-player">
                <video controls>
                    <source src="{{movie.movie.url}}">
                </video>
            </div>
            <div class="comments">
                <div id="flex">
                    <span class="cast-text">{{movie.comment_set.count}} Comments</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right right-ar"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>

                {% if user.is_authenticated %}
                <div class="user-input">
                    <a href="{% url 'profile_detail_url' user.username %}">
                        {% if user.profile.picture.url != null %}
                        <img class="cp" src="{{user.profile.picture.url}}" alt="">
                        {% else %}
                        <img class="cp"
                            src="http://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s320/BlueHead.jpg"
                            alt="">
                        {% endif %}
                    </a>
                    <div style="width: 92%;">
                        <form method="POST" action="{% url 'comment' movie.slug %}">
                            {% csrf_token %}
                            <input name="text" class="comment_input" type="text" placeholder="Add a comment...">
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="user-input">
                    <img class="comment_user_avatar"
                        src="http://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s320/BlueHead.jpg"
                        alt="">
                    <a href="{% url 'signin' %}" style="width: 92%;">
                        <input class="loggedout-comment_input" type="text" name="text" placeholder="Add a comment...">
                    </a>
                </div>
                {% endif %}
                {% for comment in movie.comment_set.all %}
                <div class="review-column">
                    <div class="c-section-first">
                        <a href="{% url 'profile_detail_url' comment.author.username %}">
                            {% if comment.author.profile.picture.url != null %}
                            <img class="comment_user_avatar" src="{{comment.author.profile.picture.url}}" alt="">
                            {% else %}
                            <img class="comment_user_avatar"
                                src="http://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s320/BlueHead.jpg"
                                alt="">
                            {% endif %}
                        </a>
                    </div>
                    <div class="c-section-second">
                        <div id="flex" style="margin-bottom: 2px;">
                            <span class="comment-username">{{comment.author.username}}</span>
                            <span class="comment-date">{{comment.date|naturaltime}}</span>
                        </div>
                        <span class="comment_text">{{comment.text}}</span>
                        <!-- LIKES/DISLIKES -->
                        <!-- <div id="flex">
                            <div id="flex">
                                <button style="background: none;" name="like" id="like" data-url="{% url 'like' movie.slug %}">
                                    like
                                </button>
                                {{movie.like_set.count}}
                            </div>
                            {% csrf_token %}
                            <div id="flex">
                                <button style="background: none;" name="dislike" id="dislike" data-url="{% url 'dislike' movie.slug %}">
                                    dislike
                                </button>
                                {{movie.dislike_set.count}}
                            </div>
                        </div> -->
                        <!--  -->
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="hr"></div>
        </div>
    </div>
    <div class="side-info">
        <span class="about-text">About</span>
        <div class="description">
            <div id="flex" style="justify-content: center;">
                <div class="ratings">
                    <p>{{movie.imdb_rating}}/10</p>
                    <p class="r-text">IMDb</p>
                </div>
                <div class="ratings" style="border: 1px #ecedef; border-style: none solid none solid;">
                    <p>{{movie.rotten_tomatoes_rating}}%</p>
                    <p class="R-T">Rotten Tomatoes</p>
                </div>
                <div class="ratings">
                    <p>{{movie.other_rating}}/10</p>
                    <p class="r-text">Films</p>
                </div>
            </div>
        </div>
        <div class="synopsis">{{movie.description}}</div>
        <div class="more">
            <div id="more-flex">
                <span class="more-text">Release Date:</span>
                <span class="sub-more-text">{{movie.date|date:"F d, Y"}}</span>
            </div>
            <div id="more-flex">
                <span class="more-text">Director:</span>
                <span class="sub-more-text">
                    <a class="link-col" href="{% url 'director_detail_url' movie.director.slug %}">
                        {{movie.director.name}}
                    </a>
                </span>
            </div>
            {% if movie.budget != null %}
            <div id="more-flex">
                <span class="more-text">Budget:</span>
                <span class="sub-more-text">{{movie.budget}}</span>
            </div>
            {% endif %}
            {% if movie.box_office != null %}
            <div id="more-flex">
                <span class="more-text">Box Office:</span>
                <span class="sub-more-text">{{movie.box_office}}</span>
            </div>
            {% endif %}
            <div id="more-flex">
                <span class="more-text">Music by:</span>
                <span class="sub-more-text">
                    {% for composer in movie.composers.all %}
                    <a class="link-col" href="{% url 'composer_detail_url' composer.slug %}">
                        {{composer.name}}{%if not forloop.last%},{%endif%}
                    </a>
                    {% endfor %}
                </span>
            </div>
            <div id="more-flex">
                <span class="more-text">Runtime:</span>
                <span class="sub-more-text">{{movie.runtime}}</span>
            </div>
            <div id="more-flex">
                <span class="more-text">Country:</span>
                <span class="sub-more-text">{{movie.country.name}}</span>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(function () {
        $('#like').on('click', function () {
            var url = $(this).attr('data-url')
            var token = $('[name=csrfmiddlewaretoken]').val()

            $.ajax({
                url: url,

                type: "POST",

                headers: {
                    'X_CSRF-Token': token
                },

                success: function (data) {
                    console.log('NOICE = NICE')
                    $('#like').css('color', 'green')
                    $('#likes').load(location.href + ' #likes_count')
                    $('#dislikes').load(location.href + ' #dislikes_count')
                },
                error: function (msg) {
                    alert('WTF DUDE')
                    console.log(msg)
                }
            })
        })
    })

    $(function () {
        $('#dislike').on('click', function () {
            var url = $(this).attr('data-url')
            var token = $('[name=csrfmiddlewaretoken]').val()

            $.ajax({
                url: url,

                type: "POST",

                headers: {
                    'X_CSRF-Token': token
                },

                success: function (data) {
                    console.log('NOICE = NICE')
                    $('#dilike').css('color', 'red')
                    $('#dislikes').load(location.href + ' #dislikes_count')
                    $('#likes').load(location.href + ' #likes_count')
                },
                error: function (msg) {
                    alert('WTF DUDE')
                    console.log(msg)
                }
            })
        })
    })
</script>
{% endblock %}