{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Comments
{% endblock %}

{% block content %}
<div class="profile-detail-container">
    <div class="main-profile-info phone-none">
        <div class="pr20">
            <div id="profile-flex">
                <a href="{% url 'profile_edit' %}" class="profile-container">
                    {% if user.profile.picture.url != null %}
                    <img class="pp-detail" src="{{user.profile.picture.url}}" alt="">
                    {% else %}
                    <img class="pp-detail" src="../../media/BlueHead.png" alt="">
                    {% endif %}
                    <div class="pp-overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-camera cam-icn"
                            viewBox="0 0 16 16">
                            <path
                                d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                            <path
                                d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                        </svg>
                    </div>
                </a>
                <div class="profile-detail-info">
                    <p class="profile-username">{{user.username}}</p>
                    <p class="profile-email">
                        {{user.email}}
                    </p>
                    <div id="flex">
                        <p class="profile-firstname">{{user.first_name}}</p>
                        <p class="profile-lastname">{{user.last_name}}</p>
                    </div>
                </div>
            </div>
            <div class="profile-navigation">
                <a href="{% url 'profile' %}">
                    <button class="pr-btn">
                        <div class="com-icon" style="background: linear-gradient(#d6e6ed, #767675);">
                            <svg xmlns="http://www.w3.org/2000/svg" style="height: 15px; margin: 5px;"
                                class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd"
                                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>
                        </div>
                        <div class="ml-10">Main</div>
                    </button>
                </a>
                <a href="{% url 'comments' %}">
                    <button class="pr-btn dadce0">
                        <img class="com-icon" src="../../../media/com_icon.webp" alt="">
                        <div class="ml-10">Comments</div>
                    </button>
                </a>
                <a href="{% url 'liked' %}">
                    <button class="pr-btn">
                        <img class="com-icon" src="../../../media/liked.png" alt="">
                        <div class="ml-10">Liked movies</div>
                    </button>
                </a>
                <a href="{% url 'watched' %}">
                    <button class="pr-btn">
                        <img class="com-icon" src="../../../media/watched 2.jpeg" alt="">
                        <div class="ml-10">Watched</div>
                    </button>
                </a>
                <a href="{% url 'profile_edit' %}">
                    <button class="pr-btn">
                        <img class="com-icon" src="../../../media/edit.png" alt="">
                        <div class="ml-10">Profile edit</div>
                    </button>
                </a>
                <form action="{% url 'signout' %}">
                    <button class="pr-btn" name="logout" onclick="return confirm_logout()">
                        <img class="com-icon" src="../../../media/logout.png" alt="">
                        <div class="ml-10">Log out</div>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="mobile profile-bottom-fixed">
        <div class="bottom-row">

            <a href="{% url 'profile' %}" class="pr-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person" viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg>
            </a>
            <a href="{% url 'comments' %}" class="pr-btn">
                <svg xmlns="http://www.w3.org/2000/svg" style="height: 25px;" class="bi bi-chat-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                </svg>
            </a>
            <a href="{% url 'liked' %}" class="pr-btn">
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                    class="style-scope yt-icon" style="height: 30px; margin: auto 5px;">
                    <g class="style-scope yt-icon">
                        <path
                            d="M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11H3v10h4h1h9.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z M7,20H4v-8h3V20z M19.98,13.17l-1.34,6 C18.54,19.65,18.03,20,17.43,20H8v-8.61l5.6-6.06C13.79,5.12,14.08,5,14.38,5c0.26,0,0.5,0.11,0.63,0.3 c0.07,0.1,0.15,0.26,0.09,0.47l-1.52,4.94L13.18,12h1.35h4.23c0.41,0,0.8,0.17,1.03,0.46C19.92,12.61,20.05,12.86,19.98,13.17z"
                            class="style-scope yt-icon"></path>
                    </g>
                </svg>
            </a>
            <a href="{% url 'watched' %}" class="pr-btn">
                <svg xmlns="http://www.w3.org/2000/svg" style="height: 34px;" class="bi bi-play" viewBox="0 0 16 16">
                    <path
                        d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" />
                </svg>
            </a>
            <a href="{% url 'profile_edit' %}" class="pr-btn">
                <svg xmlns="http://www.w3.org/2000/svg" style="height: 22px;" class="bi bi-pen" viewBox="0 0 16 16">
                    <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg>
            </a>
            <form action="{% url 'signout' %}" class="pr-btn">
                <button class="pr-btn" name="logout" onclick="return confirm_logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="side-profile-info" style="border-left: 1px solid #dadce0;">
        <div class="pl20">
            <div class="mobile">
                <div id="flex">
                    <div class="hr"></div>
                    <div class="centered">Comments</div>
                    <div class="hr"></div>
                </div>
            </div>
            <div class="phone-none">
                <div class="cool-text">Comments</div>
            </div>
            <div class="user-review-column">
                {% for comment in comments %}
                <div class="mob-w100 phone-none" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
                    <div id="flex">
                        <div class="comment-item">
                            <div class="user-com-pic">
                                {% if user.profile.picture.url != null %}
                                <img class="user-avatar" src="{{user.profile.picture.url}}" alt="">
                                {% else %}
                                <img class="user-avatar" src="../../media/BlueHead.png" alt="">
                                {% endif %}
                            </div>
                            <a href="{% url 'movie_detail_url' comment.movie.slug %}">
                                <div class="user-com">
                                    <!-- <div id="star"></div>
                                    <div id="star"></div>
                                    <div id="star"></div>
                                    <div id="star"></div>
                                    <div id="star"></div> -->
                                    <div class="user-com-text" style="height: inherit;">{{comment.text}}</div>
                                </div>
                                <div id="cm-delete-align">
                                    <i class="comment-date-profile">{{comment.date|date:"F d, Y"}}</i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="cm-delete-align">
                        <form method="POST" action="{% url 'profile_comment_delete' comment.movie.slug comment.id %}">
                            {% csrf_token %}
                            <button class="delete-btn mt5" name="commmentDelete"
                                onclick="return confirm_delete()">Delete</button>
                        </form>
                    </div>
                </div>

                <div class="mob-w100 mobile">
                    <div id="flex">
                        <div class="comment-item">
                            <div class="user-com-pic">
                                {% if user.profile.picture.url != null %}
                                <img class="user-avatar" src="{{user.profile.picture.url}}" alt="">
                                {% else %}
                                <img class="user-avatar" src="../../media/BlueHead.png" alt="">
                                {% endif %}
                            </div>
                            <a class="mob-w100" href="{% url 'movie_detail_url' comment.movie.slug %}">
                                <div class="user-com">
                                    <!-- <div id="star"></div>
                                    <div id="star"></div>
                                    <div id="star"></div>
                                    <div id="star"></div>
                                    <div id="star"></div> -->
                                    <div class="user-com-text" style="height: inherit;">{{comment.text}}</div>
                                </div>
                                <div id="flex" style="justify-content: flex-end;">
                                    <i class="comment-date-profile">{{comment.date|date:"F d, Y"}}</i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="cm-delete-align">
                        <form method="POST" action="{% url 'profile_comment_delete' comment.movie.slug comment.id %}">
                            {% csrf_token %}
                            <button class="delete-btn mt5" name="commmentDelete"
                                onclick="return confirm_delete()">Delete</button>
                        </form>
                    </div>
                </div>
                {% empty %}
                No comments yet.
                {% endfor %}
            </div>
        </div>
        <div class="mb40"></div>
    </div>
</div>
{% endblock %}