{% extends 'base.html' %}


{% block title %}
{{query}}
{% endblock %}

{% block content %}


<div class="genre">
    <h1 class="g-name">Genres</h1>
</div>
<div id="sub-flex" style="position: relative;">
    <!-- <div class="left-smooth-fade"></div> -->
    <div id="sub-genre-column">
        {% for genre in genres %}
        <a href="{% url 'genre_detail_url' genre.slug %}"
            style="{% if not forloop.first %} margin-left: 6px; {% endif %} {% if forloop.last %} margin-right: 20px; {% endif %}">
            <div class="sub-genre-item"
                style="{% if request.path == genre.current_path %} background: #eaf0fd; color: #1558d6; border-color: #d5e2fa; {% endif %}">
                <div class="sub-genre">{{genre.title}}</div>
            </div>
        </a>
        {% empty %}
        <div class="sub-genre-loading"></div>
        <div class="sub-genre-loading"></div>
        <div class="sub-genre-loading"></div>
        <div class="sub-genre-loading"></div>
        <div class="sub-genre-loading"></div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        <div class="phone-none">
            <div class="sub-genre-loading"></div>
        </div>
        {% endfor %}
    </div>
    <div class="right-smooth-fade"></div>
</div>

<div class="genre">
    <h1 class="g-name">Movies</h1>
</div>

<div class="phone-none">
    <div id="movie">
        {% for movie in movies %}
        <div class="mov-detail" style="{% if not forloop.first %} margin-left: 12px; {% endif %}">
            <a href="{% url 'movie_detail_url' movie.slug %}">
                <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
            </a>
            <div class="mov-info">
                <h1>{{movie.title|safe|slice:'0:63'}}</h1>
            </div>
        </div>
        {% empty %}
        <span class="g-name">named "<b>{{query}}</b>" not found</span>
        {% endfor %}
    </div>
</div>

<div class="mobile">
    <div id="movie">
        {% for movie in movies %}
        <div class="mov-detail" style="{% if not forloop.first %} margin-left: 6px; {% endif %}">
            <a href="{% url 'movie_detail_url' movie.slug %}">
                <img class="poster" src="{{movie.poster.url}}" alt="POSTER">
            </a>
            <div class="mov-info">
                <h1>{{movie.title|safe|slice:'0:63'}}</h1>
            </div>
        </div>
        {% empty %}
        <span class="g-name">named "<b>{{query}}</b>" not found</span>
        {% endfor %}
    </div>
</div>

{% endblock %}