{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div style="padding: 20px 0;">

    <div class="big-heading">
        Films Website Terms of Use
    </div>

    <div class="privacy-text" style="margin-bottom: 50px;">
        Legal Information & Notices
    </div>

    <div class="phone-none">
        <div class="footer-row">
            <div class="p20">
                <div class="hr"></div>
            </div>
        </div>
    </div>

    <div class="footer-phone-none">
        <div class="p20">
            <div class="hr"></div>
        </div>
    </div>

    <div class="mobile-footer">
        <div class="hr"></div>
    </div>


    <div class="heading-left">
        Ownership of Site; Agreement to Terms of Use
    </div>

    <div class="legal-text">
        These Terms and Conditions of Use (the "Terms of Use") apply to the Films Website web site located at
        www.apple.com, and
        all associated sites linked to www.films.com by Films Website, its subsidiaries and affiliates, including Films
        Website sites
        around the world (collectively, the "Site"). The Site is the property of Films Website Inc. ("Films Website")
        and its licensors.
        BY USING THE SITE, YOU AGREE TO THESE TERMS OF USE; IF YOU DO NOT AGREE, DO NOT USE THE SITE.
    </div>

    <div class="legal-text">
        Films Website reserves the right, at its sole discretion, to change, modify, add or remove portions of these
        Terms of
        Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued
        use of the Site following the posting of changes will mean that you accept and agree to the changes. As long as
        you comply with these Terms of Use, Films Website grants you a personal, non-exclusive, non-transferable,
        limited
        privilege to enter and use the Site.
    </div>

    <div class="heading-left">
        Content
    </div>

    <div class="legal-text">
        All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music, artwork
        and computer code (collectively, "Content"), including but not limited to the design, structure, selection,
        coordination, expression, "look and feel" and arrangement of such Content, contained on the Site is owned,
        controlled or licensed by or to Films Website, and is protected by trade dress, copyright, patent and trademark
        laws,
        and various other intellectual property rights and unfair competition laws.
    </div>

    <div class="legal-text">
        Except as expressly provided in these Terms of Use, no part of the Site and no Content may be copied,
        reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed
        in any way (including "mirroring") to any other computer, server, Web site or other medium for publication or
        distribution or for any commercial enterprise, without Films Website’s express prior written consent.
    </div>

    <div class="legal-text">
        You may use information on Films Website products and services (such as data sheets, knowledge base articles,
        and
        similar materials) purposely made available by Films Website for downloading from the Site, provided that you
        (1) not
        remove any proprietary notice language in all copies of such documents, (2) use such information only for your
        personal, non-commercial informational purpose and do not copy or post such information on any networked
        computer or broadcast it in any media, (3) make no modifications to any such information, and (4) not make any
        additional representations or warranties relating to such documents.
    </div>

    <div class="heading-left">
        Your Use of the Site
    </div>

    <div class="legal-text">
        You may not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm
        or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of
        the Site or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the
        Site or any Content, to obtain or attempt to obtain any materials, documents or information through any means
        not purposely made available through the Site. Films Website reserves the right to bar any such activity.
    </div>
    <div class="legal-text">
        You may not attempt to gain unauthorized access to any portion or feature of the Site, or any other systems or
        networks connected to the Site or to any Films Website server, or to any of the services offered on or through the Site,
        by hacking, password "mining" or any other illegitimate means.
    </div>
    <div class="legal-text">
        You may not probe, scan or test the vulnerability of the Site or any network connected to the Site, nor breach
        the security or authentication measures on the Site or any network connected to the Site. You may not reverse
        look-up, trace or seek to trace any information on any other user of or visitor to the Site, or any other
        customer of Films Website, including any Films Website account not owned by you, to its source, or exploit the Site or any
        service or information made available or offered by or through the Site, in any way where the purpose is to
        reveal any information, including but not limited to personal identification or information, other than your own
        information, as provided for by the Site.
    </div>
    <div class="legal-text">
        You agree that you will not take any action that imposes an unreasonable or disproportionately large load on the
        infrastructure of the Site or Films Website’s systems or networks, or any systems or networks connected to the Site or
        to Films Website.
    </div>
    <div class="legal-text">
        You agree not to use any device, software or routine to interfere or attempt to interfere with the proper
        working of the Site or any transaction being conducted on the Site, or with any other person’s use of the Site.
    </div>
    <div class="legal-text">
        You may not forge headers or otherwise manipulate identifiers in order to disguise the origin of any message or
        transmittal you send to Films Website on or through the Site or any service offered on or through the Site. You may not
        pretend that you are, or that you represent, someone else, or impersonate any other individual or entity.
    </div>
    <div class="legal-text">
        You may not use the Site or any Content for any purpose that is unlawful or prohibited by these Terms of Use, or
        to solicit the performance of any illegal activity or other activity which infringes the rights of Films Website or
        others.
    </div>

    <div class="phone-none">
        <div class="footer-row">
            <div class="p20">
                <div class="hr"></div>

                <div class="website-responsive-2">
                    <div class="website-section">
                        <div class="website-text-2">All</div>
                        <div class="section-sites">
                            <a href="">
                                Peace (world problems)
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Junglezon
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Bukhara Times
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Films
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Friendbook
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Metube
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Postify
                            </a>
                        </div>
                    </div>
                    <div class="website-section">
                        <div class="website-text-2">Entertainment</div>
                        <div class="section-sites">
                            <a href="">
                                Films
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Friendbook
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Metube
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Postify
                            </a>
                        </div>
                    </div>
                    <div class="website-section">
                        <div class="sub-webstie-section">
                            <div class="website-text-2">Movies website</div>
                            <div class="section-sites">
                                <a href="">
                                    Films
                                </a>
                            </div>
                        </div>
                        <div class="sub-webstie-section">
                            <div class="website-text-2">Music</div>
                            <div class="section-sites">
                                <a href="">
                                    Postify
                                </a>
                            </div>
                        </div>
                        <div class="sub-webstie-section">
                            <div class="website-text-2">Video</div>
                            <div class="section-sites">
                                <a href="">
                                    Metube
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="website-section">
                        <div class="website-text-2">About Developer</div>
                        <div class="section-sites">
                            <a href="https://www.instagram.com/r.abdu44/">
                                Instagram
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="https://www.facebook.com/r.abdu44/">
                                Facebook
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="https://www.youtube.com/channel/UCvliVjO2DIe6e2mBSQASeFg">
                                Youtube
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="https://github.com/rabdu44">
                                Github
                            </a>
                        </div>
                    </div>
                </div>



                <div class="more-footer-text" style="margin-top: 45px;">
                    <span class="more-foot-text">
                        Please
                        <a class="underline" style="color: #06c;" href="https://mail.google.com/mail/u/0/">Contact
                            us</a>, to
                        help for
                        improving
                        our websites.
                    </span>
                </div>

                <div class="apple-hr" style="margin: 8px 0;"></div>

                <div id="flex" style="justify-content: space-between;">
                    <div class="copyright">
                        <span class="copyright-text">
                            Copyright © 2022 Films. All rights reserved. But i'm not sure.
                        </span>
                        <div class="copyright-flex">
                            <div class="cop-item" style="border: none; padding-left: 0;">
                                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                            </div>
                            <div class="cop-item">
                                <a href="">Developer</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-country">
                        <a href="https://en.wikipedia.org/wiki/Uzbekistan">
                            Uzbekistan
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-phone-none">
        <div class="p20">
            <div class="hr"></div>

            <div class="footer-row">
                <div class="website-responsive-2">
                    <div class="website-section">
                        <div class="website-text-2">All</div>
                        <div class="section-sites">
                            <a href="">
                                Peace (world problems)
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Junglezon
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Bukhara Times
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Films
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Friendbook
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Metube
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Postify
                            </a>
                        </div>
                    </div>
                    <div class="website-section">
                        <div class="website-text-2">Entertainment</div>
                        <div class="section-sites">
                            <a href="">
                                Films
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Friendbook
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Metube
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="">
                                Postify
                            </a>
                        </div>
                    </div>
                    <div class="website-section">
                        <div class="sub-webstie-section">
                            <div class="website-text-2">Movies website</div>
                            <div class="section-sites">
                                <a href="">
                                    Films
                                </a>
                            </div>
                        </div>
                        <div class="sub-webstie-section">
                            <div class="website-text-2">Music</div>
                            <div class="section-sites">
                                <a href="">
                                    Postify
                                </a>
                            </div>
                        </div>
                        <div class="sub-webstie-section">
                            <div class="website-text-2">Video</div>
                            <div class="section-sites">
                                <a href="">
                                    Metube
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="website-section">
                        <div class="website-text-2">About Developer</div>
                        <div class="section-sites">
                            <a href="https://www.instagram.com/r.abdu44/">
                                Instagram
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="https://www.facebook.com/r.abdu44/">
                                Facebook
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="https://www.youtube.com/channel/UCvliVjO2DIe6e2mBSQASeFg">
                                Youtube
                            </a>
                        </div>
                        <div class="section-sites">
                            <a href="https://github.com/rabdu44">
                                Github
                            </a>
                        </div>
                    </div>
                </div>

                <div class="more-footer-text">
                    <span class="more-foot-text">
                        Please
                        <a class="underline" style="color: #06c;" href="https://mail.google.com/mail/u/0/">Contact
                            us</a>, to
                        help for
                        improving
                        our websites.
                    </span>
                </div>

                <div class="apple-hr" style="margin: 8px 0;"></div>

                <div id="flex" style="justify-content: space-between;">
                    <div class="copyright">
                        <span class="copyright-text">
                            Copyright © 2022 Films. All rights reserved. But i'm not sure.
                        </span>
                        <div class="copyright-flex">
                            <div class="cop-item" style="border: none; padding-left: 0;">
                                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                            </div>
                            <div class="cop-item">
                                <a href="">Developer</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-country">
                        <a href="https://en.wikipedia.org/wiki/Uzbekistan">
                            Uzbekistan
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-footer">
        <div class="hr"></div>
        <div class="footer-row">
            <div class="web-sites">
                <a href="">
                    <div class="website">
                        Films
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <a href="">
                    <div class="website">
                        Friendbook
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <a href="">
                    <div class="website">
                        Peace (World Problems)
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <a href="">
                    <div class="website">
                        Metube
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <a href="">
                    <div class="website">
                        Postify
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <a href="">
                    <div class="website">
                        Bukhara Times
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <a href="">
                    <div class="website">
                        Junglezon
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </a>
                <div class="flexed-links">
                    <div class="link-item">
                        <a href="https://www.instagram.com/r.abdu44/">Instagram</a>
                    </div>
                    <div class="link-item">
                        <a href="https://www.facebook.com/r.abdu44/">Facebook</a>
                    </div>
                    <div class="link-item">
                        <a href="https://www.youtube.com/channel/UCvliVjO2DIe6e2mBSQASeFg">Youtube</a>
                    </div>
                    <div class="link-item">
                        <a href="https://github.com/rabdu44">Github</a>
                    </div>
                </div>
            </div>

            <div class="more-footer-text">
                <span class="more-foot-text">
                    Please
                    <a class="underline" style="color: #06c;" href="https://mail.google.com/mail/u/0/">Contact
                        us</a>, to
                    help for
                    improving
                    our websites.
                </span>
            </div>

            <div class="apple-hr" style="margin: 8px 0;"></div>
            <p class="copyright-text">
                Copyright © 2022 Films. All rights reserved. But i'm not sure.
            </p>
            <div id="flex" class="mt20" style="justify-content: space-between;">
                <div class="copyright">
                    <div class="copyright-flex">
                        <div class="cop-item" style="border: none; padding-left: 0;">
                            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </div>
                        <div class="cop-item">
                            <a href="https://www.instagram.com/r.abdu44/">Developer</a>
                        </div>
                    </div>
                </div>
                <div class="footer-country">
                    <div>
                        <a href="https://en.wikipedia.org/wiki/Uzbekistan">
                            Uzbekistan
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}